h1{
  font-family: "Arial";
}

p{
   font-family: 'SingleDayRegular';
   font-weight: normal;
   font-style: normal;

}


body{
  font-size: 20px;
}
#two{
  font-size: 2.0em;
  font-family: 'Barrio', cursive;
}

p{
  font-style: italic;
  font-weight: bold;
}
/* 1em = 16px
2em = 32px */


h1{
  text-align: center;
}
