{% extends "blog/base.html" %}
{% block content %}
    <h1 class = "posttitle loader">{{ post.tile }}</h1>
    {% if post.published_date %}
        <div class = "date postdate">{{ post.published_date }}</div>
    {% else %}
        <a class ='btn btn-primary' href ="{% url 'post_publish' pk=post.pk %}">Publish</a>
    {% endif %}
    <p class = 'postcontent'>{{ post.text|safe|linebreaksbr }}</p>
    {% if user.is_authenticated %}
        <a class = 'btn btn-primary' href = "{% url 'post_edit' pk=post.pk %}">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
              </svg>
        </a>
        <a class = 'btn btn-primary' href = "{% url 'post_remove' pk=post.pk %}">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-square-fill" viewBox="0 0 16 16">
                <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm3.354 4.646L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 1 1 .708-.708z"/>
              </svg>
        </a>
    {% endif %}
    <hr>
    <a class = 'btn btn-primary' href = "{% url 'add_comment_to_post' pk=post.pk %}">Add Comment</a>
    <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-5">
            {% for comment in post.comments.all %}
                <br>
                {% if user.is_authenticated or comment.approved_comment %}
                    {{ comment.created_date }}
                    <br>
                        <p>{{comment.text|safe|linebreaks}}</p>
                        <p>Posted By: {{comment.author}}</p>
                    {% if not comment.approved_comment %}
                        <a class = 'btn btn-primary' href = "{% url 'comment_remove' pk=comment.pk %}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16">
                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                              </svg>
                        </a>
                        <a class = 'btn btn-primary' href = "{% url 'comment_approve' pk=comment.pk %}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle" viewBox="0 0 16 16">
                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                <path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z"/>
                              </svg>
                        </a>
                    {% endif %}


                {% endif %}

                {% empty %}
                <p>No Comments</p>
            {% endfor %}
        </div>
    </div>
{% endblock  %}
